* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    color: #333;
}

.container {
    background: #f9f9f9;
    max-width: 600px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    border-radius: 15px;
}

form {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
}

form input[type="text"] {
    padding: 15px;
    font-size: 16px;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

form input[type="text"]:focus {
    border-color: #7aa7d4;
    box-shadow: 0 0 10px rgba(122, 167, 212, 0.5);
}

form input[type="submit"] {
    padding: 15px 25px;
    border: none;
    background: #4caf50;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form input[type="submit"]:hover {
    background: #45a049;
}

.icon img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

.temp {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff5733;
}

.desc {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.details>div {
    font-size: 18px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-width: 120px;
}

.ff {
    text-align:end;
    margin-top: 350px;
    
}
